<!DOCTYPE html>
<html>
  <head>
    <title>RUF</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
		.get { color: green; }
		.post { color: orange; }
		.put { color: blue; }
		.delete { color: red; }
		.hidden { display: none; }

		body {
		  font-family: Arial, sans-serif;
		  background-color: #fafafa;
		}

		.container {
		  max-width: 800px;
		  margin: 0 auto;
		  padding: 20px;
		  background-color: white;
		  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
		  border-radius: 10px;
		}

		h1, h2, h3 {
		  color: #262626;
		}

		h1 {
		  font-size: 36px;
		  margin-bottom: 10px;
		}

		h2 {
		  font-size: 24px;
		  margin-top: 20px;
		  margin-bottom: 10px;
		}

		h3 {
		  font-size: 20px;
		  margin-top: 15px;
		  margin-bottom: 5px;
		}

		p {
		  color: #999999;
		}

		button {
		  background-color: #0095f6;
		  color: white;
		  border: none;
		  padding: 10px 20px;
		  border-radius: 5px;
		  cursor: pointer;
		}

		button:hover {
		  background-color: #0085e6;
		}

		.api {
		  margin-top: 20px;
		  padding: 10px;
		  border: 1px solid #e0e0e0;
		  border-radius: 5px;
		  background-color: #f9f9f9;
		}

		.api h3 {
		  margin-bottom: 10px;
		}
		
		.code-block-title-200 {
		  color: #A8DF8E;
		}
		
		.code-block-title-500 {
		  color: #BB2525;
		}

		.code-block {
		  background-color: #f0f0f0;
		  padding: 10px;
		  border-radius: 5px;
		  white-space: pre-wrap;
		}
    </style>
    <script>
      let currentRoute = null;
      
      function toggleRoute(route) {
        if (currentRoute === route) {
          const elem = document.getElementById(`${route}-route`);
          elem.classList.add('hidden');
          currentRoute = null;
        } else {
          const routes = ['video', 'auth'];
          
          routes.forEach(r => {
            const elem = document.getElementById(`${r}-route`);
            if (r === route) {
              elem.classList.remove('hidden');
            } else {
              elem.classList.add('hidden');
            }
          });
          
          currentRoute = route;
        }
      }
    </script>
  </head>
  <body>
    <h1>Hello, RUF!</h1>
    <p>RUF 서비스 제공을 위한 백엔드 서버입니다</p>
    
    <div>
	  <button onclick="toggleRoute('auth')">/auth</button>
      <button onclick="toggleRoute('video')">/video</button>
    </div>
    
	  
	 <!--------------------------------->
    <div id="auth-route" class="hidden">
      <h2>Auth Routes : Account-related requests</h2>
		
      <div id="GET-auth" class="api">
        <h3 class="get">GET /auth/login</h3>
		  <p>returning token for subsequent session retention</p>
		<div class="code-block-title">Request URL</div>
        <pre class="code-block">
https://gym-bot-backend.run.goorm.site/auth/login?email=judemin2087@naver.com&password=judemin</pre>
		<div class="code-block-title">Request Parameters</div>
        <pre class="code-block">
email=[userEmail]
email=[userPassword]</pre>
		<div class="code-block-title-200">Response Body</div>
        <pre class="code-block">
{
    "loginSuccess": true,
    "userToken": [userToken]
}</pre>
      </div>
		
		<div id="POST-auth" class="api">
        <h3 class="post">POST /auth/signup</h3>
		  <p>returning token for subsequent session retention</p>
		<div class="code-block-title">Request URL</div>
        <pre class="code-block">
https://gym-bot-backend.run.goorm.site/auth/login?email=judemin2087@naver.com&password=judemin</pre>
		<div class="code-block-title">Request Parameters</div>
        <pre class="code-block">
email=[userEmail]
email=[userPassword]</pre>
		<div class="code-block-title-200">Response Body</div>
        <pre class="code-block">
{
    "loginSuccess": true,
    "userToken": [userToken]
}</pre>
      </div>
      
		
    </div>
	<!--------------------------------->
    <div id="video-route" class="hidden">
      <h2>Video Routes</h2>
		
    </div>
	  <!--------------------------------->
  </body>
</html>





<!--

<div id="GET-video" class="api">
        <h3 class="get">GET /video</h3>
        <pre class="code-block">
Request Body: None
Response Body: Video list
Parameters: None
Headers: None
        </pre>
      </div>
      
      <div id="POST-video" class="api">
        <h3 class="post">POST /video</h3>
        <pre class="code-block">
Request Body: New video data
Response Body: Created video
Parameters: None
Headers: None
        </pre>
      </div>
      
      <div id="PUT-video" class="api">
        <h3 class="put">PUT /video/:id</h3>
        <pre class="code-block">
Request Body: Updated video data
Response Body: Updated video
Parameters: video ID
Headers: None
        </pre>
      </div>
      
      <div id="DELETE-video" class="api">
        <h3 class="delete">DELETE /video/:id</h3>
        <pre class="code-block">
Request Body: None
Response Body: Deleted video
Parameters: video ID
Headers: None
        </pre>
      </div>

>