<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hello, <%= title %>!</h1>
    <p>Gym-Bot 서비스 제공을 위한 서버입니다</p>
  </body>
</html>
