<!DOCTYPE html>
<html>
  <head>
    <title>RUF</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hello, RUF!</h1>
    <p>RUF 서비스 제공을 위한 서버입니다</p>
  </body>
</html>
